<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
  <title>Title</title>
</head>
<body>
  <div id="app">
    <h1>Список задач <like-button :counter.sync='headerLikes'></like-button></h1>
    <h3>Количество лайков - {{ countLikes }}</h3>
    <div v-if="count === 0"> Отлично! </div>
    <div v-else-if="count === 1"> Осталась одна задача! </div>
    <div v-else>Осталось сделать задач: {{ count }}</div>
    <task-list :tasks='unCompletedTasks' v-show='unCompletedTasks.length > 0' :title="'Задачи в работе'"></task-list>
    <form class="form" @submit.prevent="addTask">
      <input v-bind:placeholder="message" v-model="message">
      <button type="submit">Добавить</button>
      <like-button :counter.sync='formLikes'></like-button>
    </form>

    <task-list :tasks='completedTasks' v-show='completedTasks.length > 0' :title="'Завершенные задачи'"></task-list>
  </div>



  <script src="index.js"></script>
</body>
</html>
